nupkg/
*.nupkg

.vscode
.idea

*.suo
*.user
*.userosscache
*.cache
*.exe
*.dll
*.dll.config

[Dd]ebug/
[Dd]ebugPublic/
build/
[Bb]in/
out/

!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll